<main>

  <section class="shipping-details">
    <h2 i18n="@@key_24803">
      Your order is on its way!
      <img alt="shipping icon" i18n-alt class="shipping-icon" src="assets/noun-shipping-4326216-63D1FF.png">
    </h2>
    <p i18n="@@key_28699">
      Thank you for shopping with us and your order
      has been processed.
    </p>
    <table>
      <tr>
        <th i18n="@@key_28905">Item</th>
        <th i18n="@@key_28978">Qty</th>
        <th i18n="@@key_11924">Date</th>
        <th i18n="@@key_11863">Amount</th>
      </tr>
      <tr>
        <td>Big box item</td>
        <td>1</td>
        <td>{{"05/01/2022" | date}}</td>
        <td>{{129 | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td i18n="@@key_30000" class="total-amount-label">Total Amount</td>
        <td class="total-amount">{{129 | currency}}</td>
      </tr>
    </table>
  </section>
  <div i18n="@@key_11742"></div>
</main>